body {
    background-color: #C2FFF9;
 
}

h2 {
    font-family: 'Roboto', sans-serif;
}
 
h5 {
    font-family: 'Montserrat', sans-serif;
 }
 
nav {
    background-color: #009DAE;
}
 
nav ul {
    margin-left: auto;
}
 
.carousel-item img {
    width: 100%;
    height: 550px;
}
 
.carousel-inner h1 {
    text-align: center;
    color: hsla(186, 100%, 34%, 0.322);
}
 
 section {
    background-color: #71DFE7;
    padding-bottom: 60px;
 }
 
.container {
    padding-top: 50px;
}
 
 
section h2 {
    padding-top: 20px;
    font-size: 40px;
    letter-spacing: 10px;
}
 
.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}
 
.card-body {
    background-color: #FFE652;
}
 
.tarjet-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
   
.tarjet {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
}
   
.tarjet_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
}
   
.tarjet_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
}
   
.tarjet .card_title {
    text-align: center;
    color: #71DFE7;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
}
   
.tarjet:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
       -5px -5px 30px 15px rgba(0,0,0,0.22);
}
   
 
footer {
     background-color: #009DAE;
}
 
 
